altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
gitdb
GitPython
geopy
idna
importlib-metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
Matplotlib
mdurl
numpy
packaging
pandas
Pillow
plotly
protobuf
pyarrow
pydeck
Pygments
Pympler
python-dateutil
pytz
pytz-deprecation-shim
referencing
requests
rich
rpds-py
six
smmap
streamlit
streamlit_folium
scikit-learn
seaborn
tenacity
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
zipp